@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
body{
    font-family: 'Play', sans-serif;
    font-size: 14px;
    background: #F6F7F8;
    background-image:url(../images/block_bg.png);
}
body p, body a, body h1, body h2, body h3{
    font-family: 'Play', sans-serif;
}
header{
    // background: #F6F7F8;
    padding-bottom: 0px;

}
.header{
    padding-top: 20px;
}
.header div{
    margin: 0;
}
.header .logo{
    text-align: center;
    margin-left: -60px;
}
.header .tel{
    margin-top: 40px;
    margin-left: 60px;
}
.header .tel p {
    font-size: 26px;   
}
.header .tel .befor{
    position: relative;
}
.header .tel .befor:before{
    content: "";
    width: 17px;
    height: 21px;
    position: absolute;
    left: -35px;
    background-image: url(../img/tel.png);
}
.header .tel a{
    font-size: 21px;
    color: #007e7e;
    text-decoration: underline;
}
.header .tel a:hover{
    text-decoration: none;
}
.header .cart{
    margin-top: 0px;
    font-size: 16px;
    float: right;
    text-align: right;
    margin-right: 10px;
}
.header .cart p{
    margin: 0;
}
.header .cart a{
    font-size: 24px;
    color: #007e7e;
    text-decoration: underline;
    padding-bottom: 9px;
    position: relative;
}
.header .cart a:before{
    content: '';
    position: absolute;
    left: -35px;
    width: 23px;
    height: 23px;
    background-image: url(../img/cart.png);
}
.header .cart a:hover{
    text-decoration: none;
}
.clear{
    clear: both;
}
.navbar{
    margin-bottom: 0;
}
.navbar .container{
    max-width: 1170px;
}
.navbar .nav > li > a{
    padding: 20px 15px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    border-bottom: 1px solid transparent;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #838383;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar .nav > li > a:hover{
    border-bottom: 1px solid #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar .nav > li{
    padding: 20px;
}
.navbar .nav {
    position: relative;
    display: block;
    margin: 0 10px 0 0;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    float: none;
}
.slider{
    max-width: 1170px;
    min-height: 100px;
    position: relative;
    z-index: 5;
    border: 5px solid #FFFFFF;
    border-top: 0;
    padding-top: 2px;
    box-shadow: 3px 3px 14px rgba(0,0,0,0.1);
}
.slider:before{
    content: '';
    position: absolute;
    z-index: 2;
    width: 1326px;
    height: 400px;
    //background-image:url(../img/slider_bg.png);
    left:-84px;
}
.search {
    position: relative;
    // z-index: 200000;
    width: 100%;
    margin: 0 auto;
    float: right;
}
header .cart_item{
    margin-bottom: 20px;
}
.search input{
    background: transparent;
    height: 30px;
}
.search input.search-query{
    border-radius: 26px;
    width: 66%;
}
.search .btn{
    padding: 10px 17px;
    background-color: #008F9F;
    text-shadow: none;
    background-image: none;
    border-radius: 21px;
    border: 0;
    color: #fff;
    box-shadow: none;
    margin-left: -52px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.search .btn:hover{
    background: #006E7A;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.seo_text h1{
    float: left;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: normal;
    font-family: 'Play', sans-serif;
    position: relative;
    z-index: 2000;
    margin-left: 16px;
    font-size: 24px;
    text-transform: uppercase;
    color: #006B77;
}
.navbar-inverse .navbar-inner{
    //  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
.circles_item h3{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Play', sans-serif;
    line-height: 27px;
    margin: 0;
    margin-top: 15px;
}
.circles_item h3 a{
    color: #333333;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.circles_item h3 a:hover{
    text-decoration: none;
    color: #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.circles_item p{
    font-size: 14px;
    color: #7d7d7d;
}
.circles .span3{
    margin-left: 20px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}
.img_circ_wrap {
    width: 270px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../img/circles.png);
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.img_circ_wrap_img{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    left: 41%;
    top: 25px;
}
.img_circ_wrap_img a{
    display: block;
    width: 48px;
    height: 50px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.img_circ_wrap_img .main_a1{
    background-image: url(../img/icons1.png);
}
.img_circ_wrap:hover{
    background-image: url(../img/circles_hov.png);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.img_circ_wrap:hover a{
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.img_circ_wrap:hover .main_a1{
    background-image: url(../img/icons1_hover.png);
}
.img_circ_wrap_img .main_a2{
    background-image: url(../img/icons2.png);
}
.img_circ_wrap:hover .main_a2{
    background-image: url(../img/icons2_hover.png);
}
.img_circ_wrap_img .main_a3{
    background-image: url(../img/icons3.png);
}
.img_circ_wrap:hover .main_a3{
    background-image: url(../img/icons3_hover.png);
}
.img_circ_wrap_img .main_a4{
    background-image: url(../img/icons4.png);
}
.img_circ_wrap:hover .main_a4{
    background-image: url(../img/icons4_hover.png);
}
.popular h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.popular{
    margin-top: 50px;
    //background: #EAECED;
    background: rgba(255,255,255,0.6);
}
.popular .span3{
    margin-left: 20px;
}
.goods_wrap_img{
    height: 200px;
    overflow: hidden;
    background: #fff;
    text-align: center;
}
.price{
    background: #008F9F;
    color: #fff;
    padding: 15px;
    position: absolute;
    z-index: 2000;
    height: 103px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.goods1{
    position: relative;
    min-height: 332px;
    margin-bottom: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    //z-index: 2;
}
.goods1:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.goods1:hover .price{
    height: auto;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.price_mini p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.price_mini{
    width: 40%;
    float: left;
}
.price_mini p span{
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.description p{
    font-size: 18px;
    line-height: 20px;
}
.description{
    margin-top: 10px;
}
.cart_buttun a{
    display: block;
    color: #008f9f;
    background: #fff;
    text-align: center;
    font-size: 19px;
    padding: 7px;
    text-decoration: none;
    padding-bottom: 9px;
    position: relative;
    padding-left: 21px;
    border: 1px solid transparent;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.cart_buttun a:hover{
    background: #008F9F;
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.cart_buttun a:hover:before{
    background-image: url(../img/mini_cart_hov.png);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.cart_buttun a:before{
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../img/mini_cart.png);
    position: absolute;
    left: 7px;
    top: 12px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.cart_buttun{
    width: 57%;
    float: right;
}
.about{
    padding-top: 50px;
    background: #F6F7F8;
    padding-bottom: 50px;
    background: rgba(255,255,255,0.6);    
}
.about h2{
    text-transform: uppercase;
    color: #232522;
    font-size: 34px;
    line-height: 20px;
    font-weight: normal;
}
.about h2 span{
    text-transform: none;
    font-size: 24px;
    color: #008f9f;
    font-weight: normal;
}
.about h3{
    margin-top: 30px;
    font-size: 18px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.about p{
    line-height: 27px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.about .span6{
    margin-left: 15px;
}
.about2 {
    text-align: right;
}
.about2 img{
    margin-right: 10px;
    max-width: 100%;
}
.about a{
    color: #fff;
    text-transform: uppercase;
    background: #008F9F;
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    display:block;
    margin-top: 20px;
    float: left;
    margin-top: 5px;
}
.about a:hover{
    background: #007380;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.bottom_seo {
    // background: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
}
.bottom_seo h2{
    text-align: center;
    color: #008f9f;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
}
.bottom_seo  ul{
    float: left;
    width: 40%;
    padding-left: 30px;
}
.bottom_seo  ul li{
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    list-style: none;
    padding-left:44px;
    margin-top: 12px;
}
.footer{
    background: #232522;
    color: #fff;
    padding: 50px 30px;
    padding-bottom: 2px;
}
.footer .span4{
    margin-left: 10px;
    text-align: center;
}
.footer_item1 ul li{

}
.footer_item1 ul {
    margin-left: 30px;
    padding-left: 0;
    text-align: left;
}
.footer_item1 ul li a{
    color: #fff; 
    padding: 0 5px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    font-size: 17px;
}
.footer_item1 ul li a:hover{
    text-decoration: none;
    color: #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.footer .search input {
    height: 15px;
}
.footer .search .btn{
    padding: 3px 17px;
    margin-top: -1px;
}
.footer .search input{
    background-color: #fff;
}
.footer .search{
    float: none;
    margin-top: 20px;
}
.footer .tel p{
    font-size: 26px;
}
.footer .tel a{
    display: block;
    color: #008F9F;
    border: 1px solid #008F9F;
    border-radius: 20px;
    width: 192px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 25px;
    text-transform: uppercase;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.footer .tel a:hover{
    text-decoration: none;
    background: #008F9F;
    color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.footer .tel .befor{
    position: relative;
}
.footer .tel .befor:before{
    content: "";
    width: 17px;
    height: 21px;
    position: absolute;
    left: 57px;
    background-image: url(../img/tel.png);
}
.footer .maps{
    font-size: 17px;
}
.footer .maps a{
    color: #fff;
    text-decoration: underline;
}
.footer .maps a:hover{
    text-decoration: none;
}
.befor_maps,.befor_mail{
    position: relative;
}
.befor_maps:before{
    content: '';
    position: absolute;
    width: 17px;
    height: 24px;
    background-image: url(../img/maps.png);
    left: 85px;
    top: -6px;
}
.befor_mail:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 14px;
    background-image: url(../img/mail.png);
    left: 85px;
    top: 4px;
}
/*Карточка товара*/
.card_product{
    background: #EAECED;
    padding: 10px 0;
    padding-bottom: 0;
}
.block_left{
    background:#F6F7F8;
    border-radius: 20px;
    margin-left: 10px;
}
.block_left h3{
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 35px;
    margin-bottom: 0;
    margin-top: 21px;
}
.block_left ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
}
.block_left ul li:last-child{
    border-bottom: 0;
}
.block_left ul li a{
    color: #0d0e0e;
    background-image: url(../img/a_hov.png);
    background-repeat: no-repeat;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position-y: 14px;
}
.block_left ul{
    padding-left: 20px;
}
.block_left ul li a:hover{
    text-decoration: none;
    background-image: url(../img/a.png);
    color: #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.block_right{
    background:#F6F7F8;
    border-radius: 20px;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.block_right h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    margin-top: 30px;
}
.menswear,.women_clothing,.kids_clothing{
    position: relative;
}
.menswear:before{
    content: '';
    background-image: url(../img/clothing1.png);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 30px;
    top: 6px;
}
.women_clothing:before{
    content: '';
    background-image: url(../img/clothing2.png);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 30px;
    top: 6px;
}
.kids_clothing:before{
    content: '';
    background-image: url(../img/clothing3.png);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 30px;
    top: 6px;
}
.slider2{
    max-width: 500px;
    overflow: hidden;
    border-radius: 20px;
}
#carousel li{
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.flexslider{
    border: 0;
    background: transparent;
    overflow: hidden;
}
.flexslider img{
    // border: 1px solid #ccc;
}
#slider{
    border: 1px solid #ccc!important;
    position: relative;
    z-index: 2000;
}
#carousel{
    height: 100px;
    border-radius: 0;
}
#carousel img{
    border: 1px solid #ccc!important;
}
.flex-viewport img{
}
.main_left{
    margin-top: 19px;
}
.flex-prev{
    display: block;
    width: 27px;
    height: 27px;
    background-image: url(../img/flex_prev.png);
}
.flex-next{
    display: block;
    width: 27px;
    height: 27px;
    background-image: url(../img/flex_next.png);
}
.flex-direction-nav .flex-disabled{
    opacity: 1!important;
    cursor: pointer;
}

.flex-direction-nav a:before{
    display: none;
}
.flex-direction-nav a{
    width: 22px;
    height: 27px;
}
.main_right{
    min-height: 200px;
    margin-top: 19px;
    width: 36%;
}
.flexslider{
    margin: 0 0 23px;
}
.price_right{
    color: #008f9f;
    font-weight: bold;
    font-size: 25px;
    float: left;
    line-height: 33px;
}
.mini_cart_right{
    display: block;
    position: relative;
    background: #008F9F;
    color: #fff;
    float: right;
    font-size: 20px;
    padding: 7px 21px;
    font-weight: 200;
    padding-left: 43px;
    border: 1px solid transparent;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    padding-top: 5px;
}
.mini_cart_right:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../img/mini_cart_hov.png);
    top: 11px;
    left: 14px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.mini_cart_right:hover{
    text-decoration: none;
    border: 1px solid #008F9F;
    background: transparent;
    color: #008291;  
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.mini_cart_right:hover:before{
    background-image: url(../img/mini_cart.png);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.top_nav{
    margin-bottom: 20px;
}
.in_stock{
    font-size: 15px;
    color: #368536;
    position: relative;
    padding-left: 26px;
}
.in_stock:before{
    content: '';
    background-image: url(../img/green_check.png);
    position: absolute;
    width: 20px;
    height: 18px;
    left: 4px;
}
.description_right p{
    font-size: 14px;
}
.description_right{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
h4{
    text-transform: uppercase;
    font-size: 15px;
}
.select_color ul{
    margin: 0;
    padding: 0;
}
.select_color ul li{
    list-style: none;
    float: left;
    margin: 4px;
    border: 1px solid #ccc; 
    border-radius: 7px;
}
.select_color ul li a{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 7px;
    list-style: none;
    opacity: 0.4;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 

}
.select_color ul li a:hover{
    opacity: 1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 
}

.select_color ul li .red{
    background: red;
}
.select_color ul li .orange{
    background: orange;
}
.select_color ul li .blue{
    background: blue;
}
.select_color ul li .green{
    background: green;
}
.select_color ul li .yellow{
    background: yellow;
}
.select_color ul li .black{
    background: black;
}
.select_color ul li .gray{
    background: gray;
}
.select_color ul li .brown{
    background:brown;
}
.select_color ul li .white{
    background: #fff;
}
.select_size{
    margin-top: 30px;
}
.select_size ul{
    padding: 0;
    margin: 0;
}
.select_size ul li{
    list-style: none;
    float: left;
    margin: 4px;
    border-radius: 7px;
}
.select_size ul li a{
    display: block;
    height: 24px;
    border-radius: 7px;
    list-style: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 
    background: #008F9F;
    color: #fff;
    border: 1px solid #008F9F;
    padding: 0 6px;
    line-height: 23px;
}
.select_size ul li a:hover{
    background: transparent;
    color: #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 
    text-decoration: none;
}
.description_tab{
    margin:30px;
}
.nav-tabs{
    margin-bottom: 0;
    border-bottom: 0;
}
.tab-content{
    border: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
    background: transparent;
    border-top: 3px solid #008F9F;
    color: #008F9F;
}
.nav-tabs > li > a{
    border: 1px solid #ddd;
    border-bottom: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    box-shadow: none;
    cursor: pointer;
}
.description_tab .mini_cart_right{
    float: left;
    border: 1px solid #008F9F;
    background: transparent;
    color: #008291;  
    margin-top: 15px;
    margin-bottom: 15px;

}
.description_tab .mini_cart_right:before{
    background-image: url(../img/mini_cart.png);
}
.description_tab .mini_cart_right:hover:before{
    background-image: url(../img/mini_cart_hov.png);
}
.description_tab .mini_cart_right:hover{
    background: #008F9F;
    color: #fff;
}
#tab3 img{
    max-width: 150px;
    float: left;
    margin-right: 15px;
}
.similar_products{
    margin: 30px;
}
.similar_products ul li{
    list-style: none;
    float: left;

}
.similar_products ul li a{

}
.similar_products_item{
    margin-bottom: 10px;
}
.similar_products_item .similar_products_block{
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 123px;
    height: 115px;
    float: left;
    margin: 5px;
    margin-bottom: 10px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 
    background: #fff;
    text-align: center;
}
.similar_products_item .similar_products_block:hover{
    border: 1px solid #008F9F;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear; 
}
.similar_products_item .similar_products_block img{
    max-width: 100%;

}







@media (max-width: 1200px){
    .price_mini,.cart_buttun{
        width: 100%;
    }
    .slider:before{
        display: none;
    }
    .popular .span3{
        margin-left: 14px;
    }
    .slider{
        margin-top: 2px;
    }
    .circles .span3{
        width: 208px;
    }
    .about .span6 {
        margin-left: 8px;
    }
    .befor_maps::before{
        left:52px;
    }
    .befor_mail::before{
        left:52px;
    }
    .footer .tel .befor::before{
        left: 20px;
    }
}
@media (max-width: 980px){
    .circles .span3 {
        width: 46%;
    }
    .da-slider{
        background-image:url(../img/bg_sl.jpg)!important;
    }
    .about h2{
        line-height: 36px;
    }
    .befor_maps::before{
        left:17px;
    }
    .befor_mail::before{
        left:17px;
    }
    .footer .tel .befor::before{
        left: -15px;
    }
    .menswear:before,.women_clothing:before,.kids_clothing:before{
        left: 14px;
    }
    .block_right{
        width: 484px;
    }
    .main_left,.main_right{
        width: 87%;
    }
}
@media (max-width: 767px){
    .circles .span3 {
        width: 100%;
    }
    .about2{
        text-align: center;
    }
    .about2 img{
        margin-top: 20px;
    }
    .header .tel{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .header .tel p{
        display: inline-block;
    }
    .header .tel a{
        display: block;
        margin-bottom: 25px;
    }
    .header .logo{
        margin-left: 0;
    }
    .header .cart{
        float: none;
        text-align: center;
        margin-top: 30px;
    }
    .goods1{
        width: 60%;
        margin: 0 auto!important;
    }
    .price{
        position: relative;
        height: auto;
        margin-bottom: 20px;
    }
    .footer_item1 ul li{
        display: inline-block;
    }
    .footer .search{
        display: none;  
    }
    .befor_maps::before{
        display: none;
    }
    .befor_mail::before{
        display: none;
    }
    .footer .tel .befor::before{
        display: none;
    }
    .footer_item1{
        margin-bottom: 20px;
    }
    .block_right{
        width: 100%;
    }
    .main_left, .main_right{
        width: 98%;
    }
    .slider2{
        max-width: 98%;
    }
    .block_left, .block_right{
        margin-left: 0;
    }
    .card_product{
        background: transparent;
    }
    .block_right{
        padding-bottom: 0;
    }
    .card_product{
        padding-bottom: 0;
    }
}
@media (max-width: 746px){
    .da-slide h2{
        font-size: 25px!important;

        line-height: 28px;
    }

}
@media (max-width: 620px){
    .da-arrows span{
        display: none;
    }
    .bottom_seo  ul{
        float: none;
        width: 80%;
    }
    .bottom_seo h2{
        font-size: 20px;
        line-height: 22px;
    }

}
@media (max-width: 520px){
    .similar_products_item .similar_products_block{
        width: 46%;
    }
}
@media (max-width: 460px){
    .goods1{
        width: 90%;
        margin: 0 auto!important;
    }
}
@media (max-width: 416px){
    .similar_products_item .similar_products_block{
        width: 100%;
        margin: 10px auto;
    }
}

/*Стилизация кнопки*/
#back-top{	
    position:fixed;
    bottom:30px;
    left:50%;
    margin-left:500px;
    z-index: 3000000000;
}

#back-top a{
    width:67px;
    height: 67px;
    display:block;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    /* background color transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
    background-image: url(../img/ar_left.png);
    opacity: 0.5;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

#back-top a:hover{
    opacity: 1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.modal{
    display: none;
    z-index: 100000;
}
.modal-backdrop{
    z-index: 10000;
}
.star_red span{
    color: red;
}
.modal-body .star_red{
    font-size: 14px;
}
.modal-header h3{
    text-align: center;
}
.modal-body p{
    text-align: center;
    font-size: 19px;
}
.modal-body label span{
    color: red;
}
.modal-footer{
    text-align: center;
}
.modal-footer a{
    padding-right: 20px;
}
.modal-footer .issue{
    background-color: #008F9F;
    background-image: none;
    color: #fff;
    text-shadow: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.modal-footer .issue:hover{
    background-color: #007582;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.bodyTable thead td{
    color: #3e3d3b;
    font-size: 15px;
    background: #f5f5f5;
    padding: 10px 20px;
    text-align: center;
}
.bodyTable{
    border-bottom: 1px solid #F6F6F6;
}
.fullTotal {
    margin: 15px 0;
    text-align: right;
    font-size: 17px;
    color: #3e3d3b;
    font-weight: bold;
}
.bodyTable tbody td{
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
}
.bodyTable tbody tr{
    border-bottom: 1px solid #F6F6F6;
}
.cart_issue{
    margin-bottom: 30px;
}
.bodyTable tbody td img{
    max-width: 55px;
}

.remove,.count{
    display: inline-block;
    padding: 0 7px;
    border: 1px solid #F6F6F6;
}
.remove a{
    text-decoration: none;
}
.helpful2{
    visibility: hidden;
}
.helpful4{
    visibility: hidden;
}
.helpful5{
    visibility: hidden;
}
.animated{
    visibility: visible !important;
}



#back-top a:hover span{background-color:#777}

